<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Photocopia.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C6370C71BBC7164000B7177</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C6370E01BBC7164000B7177</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C6370EB1BBC7164000B7177</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
